@import '../../variables.scss';

@mixin desktop {
    @media(min-width: $desktop) {
        @content
    }
}

.RecentWorkouts {
    // background-color: white;
    background-color: rgba(255,255,255,.05);

    width: 80%;
    display:flex;
    flex-direction: row;
    margin:5px;
    justify-content: space-between;

    @include desktop {
        color: rgb(255,255,255)
    }


    .UserPic {
        display:none;

        @include desktop {
            display:block;
        }
    }

    .Username {
        margin:5px;
        font-weight: bold;
        text-shadow: 1px 1px rgb(255,255,255)



    }
    .WorkoutName {
        margin: 5px;
        font-weight: bold;
        color: rgb(255,255,255);
        text-shadow: 2px 2px $purple
    //   1px 1px 0 black,
    //  -1px -1px 0 black,  
    //   1px -1px 0 black,
    //   -1px 1px 0 black,
    //   1px 1px 0 black;

    }
    
}