@import '../../variables.scss';

@mixin tablet {
    @media(min-width: $tablet){
        @content
    }
}

.CreateWorkoutPage {
    height: 30%;
    display:flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

    .CreateWorkoutHeader{
        text-shadow: 1px 1px $pink;

    }

    .CreateWorkoutButtons{
        width:100%;
        display: flex;
        justify-content: space-between;

        @include tablet{
            justify-content: space-around;
            button{
                width:30%;

            }
        }

    }
}