@import "./variables.scss";

#root{
    height: 100%;
}
.App {
  text-align: center;
  height: 100%;
}


@mixin desktop {
        @media(min-width: $desktop) {
            @content
        }

};
@mixin tablet {
    @media(min-width: $tablet){
        @content
    }
};

html {
    height:100%;
}
body {
    background-image: $mobile-background-image;
    background-repeat: none;
    background-attachment: fixed;
    width: 100%;
    height: 100%;
    z-index: -1;

    @include desktop {
        background-image: $desktop-background-image
    }

} 

.LoginPage {
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-around;



    ::placeholder {
        color: $black;

        @include desktop() {
            color: $white;
        }
   }

   @include tablet {

   }

   .chart{
       background-color: $black;

   }

    .LoginHeader {
        position:absolute;
        height: 30%;
        width: 100%;
        background-size:cover;
        color: $black;
        text-shadow: 1px 1px $pink       
    }
    

    .LoginSection {
        background-color: none;
        width:100%;
        padding: 5px;
        position: absolute;
        top: 10%;

        .LoginInputs {
            display:flex;
            width:100%;
            flex-direction: column;
            justify-content: center;
            align-items: center;           
        }

        .LoginButtons{
            height: 100px;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-evenly;           
        }               
    }
    .WorkoutList {
        position: absolute;
        top:50%;
        width:100%;
        display:flex;
        flex-direction: column;
        align-items: center;
        padding-bottom: 5px;
        height: 50%;
    
        h3 {
            color: $white;
            text-shadow: 2px 2px $purple;
        }
    
        
    
    }
    
    .RecentWorkoutBox {
        width: 100%;
        display:flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        height: 20%;
    }
}

button {
  width: 50%;
  height: 35px;
  background-image: $mobile-button-color;
  border-radius: 25px;
  

  @include desktop {
      background-image: $desktop-button-color;
      color: $white;
      text-shadow: 1px 1px $black;

  }

}

input {
  margin:5px;
  height: 35px;
  width: 50%;
  border-top: 0px;
  border-right:0px;
  background-color: $mobile-input-background;
  border-color: $mobile-input-border;
   
  
  @include desktop{
      border-color: $desktop-input-border;
  }
}

.WorkoutList {
    position: absolute;
    top:50%;
    width:80%;
    display:flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 5px;

    h3 {
        color: $white;
        text-shadow: 1px 1px $pink
    }

    

}

.RecentWorkoutBox {
    width: 100%;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.WorkoutListItem {
    display:flex;
    justify-content: flex-start;
    width:fit-content;
    margin:10px;
    

    a{
      color:$black;
      text-decoration: none;
      font-weight: bold;
      text-shadow: 1px 1px $pink

    }
}

.SearchWorkoutListItem {
  display:flex;
  justify-content: flex-start;
  width:fit-content;
  margin:10px;

  a{
    color: $black;
    text-shadow: 1px 1px $pink;
    font-weight: bold;
    text-decoration: none;
  }
}

.ViewWorkoutPage {
    display:flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-content: center;
    margin:5px;

    @include tablet {
        button{
            width: 30%;
            margin:5px;
        }
    }

    .MappedExercises {
        height: 650px;
        width:100%;
        overflow-y: scroll;
        overflow-x: hidden;        
    }
        
      
      
    }
        .MappedExercises::-webkit-scrollbar {
            width: 20px;
            background-color:$purple-faded;
            border-radius: 15px;
      }
        
        
        .MappedExercises::-webkit-scrollbar-thumb {
            width: 20px;
            background-color:$pink;
            border-radius: 15px;
        }

.AddExercisePage {
    display:flex;
    height: 90%;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin:5px;

    .AddExerciseHeader {
        text-shadow: 1px 1px $pink;
        margin:10px;

        @include desktop{
            color: $white;
            text-shadow: 1px 1px $black;

        }
    }
    .AddExerciseInputs {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;

        div{
            width:100%;
            display: flex;
            justify-content: space-between;
            align-items: center;

            h3 {
                color: $black;
                text-shadow: 1px 1px $pink;
                font-weight: bold;
                margin-left: 20%;

                @include desktop{
                    color: $white;
                    text-shadow: 2px 2px $black;

                }
            }

            input{
                margin-right: 10%;

                @include desktop{
                    color:$white;
                    text-shadow: 1px 1px $black;

                    ::placeholder{
                        color:$white;
                    }

                }
            }

        }
    }

    .MappedExerciseBox{
        height: 50%;
        width:100%;
        overflow-y: scroll;
        overflow-x: hidden;
        border-top: solid 1px $pink;
        background-color: $purple-faded;

        @include tablet {
            width: 80%;
            border-left: solid 1px $pink;
        }
        
        
    }

    .MappedExerciseBox::-webkit-scrollbar {
        width: 20px;
        background-color:$purple-faded;
        border-radius: 15px;
    }

    .MappedExerciseBox::-webkit-scrollbar-thumb {
        width: 20px;
        background-color:$pink;
        border-radius: 15px;
    }

    button{
        margin:5px;
        
    }
}

.ShowAddedExercisesPage{
    width:100%;
    display:flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: flex-start;
    margin: 10px;

    button{
        margin: 0px 25px;
        width:30%;

        
    }

    .AddedExerciseName {
        color:$black;
        font-weight: bold;

        @include desktop{
            color: $white;
            text-shadow: 1px 1px $black;

        }
    }



}

      