// Google Fonts
@import url(https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet)

// Fonts
$roboto-font: 'Roboto Slab';

// Colors
$background-image: -webkit-linear-gradient(black,grey);
$secondary-color: white


