// Google Fonts
@import url('https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet');

// Fonts
$roboto-font: 'Roboto Slab';

// Colors
$mobile-background-image: -webkit-linear-gradient(rgb(245, 242, 80),rgb(224, 91, 191));
$secondary-color: white

// Responsive
// $desktop: 


