@import url('https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet');
html {
  height: 100%;
}

body {
  background-image: -webkit-linear-gradient(#f5f250, #e05bbf);
  background-repeat: none;
  background-attachment: fixed;
  width: 100%;
  height: 100%;
  z-index: -1;
}

@media (min-width: 850px) {
  body {
    background-image: -webkit-linear-gradient(#7d18c0, #098ecc);
  }
}

.LoginPage {
  margin: 0;
}

.LoginPage ::-webkit-input-placeholder {
  color: black;
}

.LoginPage :-ms-input-placeholder {
  color: black;
}

.LoginPage ::-ms-input-placeholder {
  color: black;
}

.LoginPage ::placeholder {
  color: black;
}

@media (min-width: 850px) {
  .LoginPage ::-webkit-input-placeholder {
    color: white;
  }
  .LoginPage :-ms-input-placeholder {
    color: white;
  }
  .LoginPage ::-ms-input-placeholder {
    color: white;
  }
  .LoginPage ::placeholder {
    color: white;
  }
}

.LoginPage .LoginHeader {
  position: absolute;
  height: 30%;
  width: 100%;
  background-size: cover;
  color: black;
  text-shadow: 2px 2px #e05bbf;
}

.LoginPage .LoginSection {
  background-color: none;
  width: 100%;
  padding: 5px;
  position: absolute;
  top: 10%;
}

.LoginPage .LoginSection .LoginInputs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.LoginPage .LoginSection .LoginInputs input {
  margin: 5px;
  height: 35px;
  width: 50%;
  background-color: rgba(255, 255, 255, 0.01);
  border-top: 0px;
  border-right: 0px;
  border-color: #e05bbf;
}

.LoginPage .LoginSection .LoginButtons {
  height: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.LoginPage .LoginSection .LoginButtons button {
  width: 50%;
  height: 35px;
  background-image: -webkit-linear-gradient(#e05bbf, #f5f250);
  border-radius: 25px;
}

@media (min-width: 850px) {
  .LoginPage .LoginSection .LoginButtons button {
    background-image: -webkit-linear-gradient(#098ecc, #7d18c0);
    color: white;
  }
}

.WorkoutList {
  position: absolute;
  top: 50%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 5px;
}

.WorkoutList h3 {
  color: white;
  text-shadow: 2px 2px #e05bbf;
}

.RecentWorkoutBox {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}
/*# sourceMappingURL=Auth.css.map */