@import '../../variables.scss';

@mixin desktop {
        @media(min-width: $desktop) {
            @content
        }

};

html {
    height:100%;
}
body {
    background-image: $mobile-background-image;
    background-repeat: none;
    background-attachment: fixed;
    width: 100%;
    height: 100%;
    z-index: -1;

    @include desktop {
        background-image: $desktop-background-image
    }

} 

.LoginPage {
    margin: 0;

    ::placeholder {
        color: rgb(0, 0, 0);

        @include desktop() {
            color: rgb(255,255,255)
        }
   }


    .LoginHeader {
        position:absolute;
        height: 30%;
        width: 100%;
        background-size:cover;
        color: black;
        text-shadow: 2px 2px #e05bbf

        
        
    }
    

    .LoginSection {
        background-color: none;
        width:100%;
        padding: 5px;
        position: absolute;
        top: 10%;

        .LoginInputs {
            display:flex;
            width:100%;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            input {
                margin:5px;
                height: 35px;
                width: 50%;
                border-top: 0px;
                border-right:0px;
                background-color: $mobile-input-background;
                border-color: $mobile-input-border;
                 
                
                @include desktop{
                    border-color: $desktop-input-border;
                }
            }
            
            
        }

        .LoginButtons{
            height: 100px;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-evenly;

            
            button {
                width: 50%;
                height: 35px;
                background-image: $mobile-button-color;
                border-radius: 25px;

                @include desktop {
                    background-image: $desktop-button-color;
                    color: rgb(255,255,255);
                }

        }
        }
        
        
        
        
    }
}

.WorkoutList {
    position: absolute;
    top:50%;
    width:100%;
    display:flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 5px;

    h3 {
        color: white;
        text-shadow: 2px 2px #e05bbf
    }

    

}

.RecentWorkoutBox {
    width: 100%;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}